@import '../../utils/config.scss';

.hero {
    background: url('../../../home/pictures/hero.jpeg');
    background-size: cover;
    background-position: 0% 40%;
    padding: 15rem 0 15rem 15rem;
    display: flex;
    align-items: center;

    &__col1 {
        width: 40%;
        max-width: 670px;

        &__text {
            h1 {
                font-size: 4em;
                margin-bottom: 2rem;
            }

            h3 {
                font-size: 2em;
            }

            span { 
                color: $brandColorBlue;
            }
        }

        &__btn {
            display: flex;
            justify-content: flex-start;

            .learn {
                margin-right: 3rem;
            }
        }
    }

    &__col2 {
        width: 60%;
        // display: flex;
        // justify-content: center;
    }
}

@media (max-width: $mobile) {
    .hero {
        padding: 5rem 1rem;
        flex-direction: column;
        background: #ffffff;

        &__col1 {
            width: 100%;
            text-align: center;

            h1 {
                font-size: 2em;
                font-weight: 700;
                margin-bottom: 2rem;
            }
        
            h3 {
                font-size: 1em;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            &__btn {
                justify-content: center;


                & > input:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}