@import '../../utils/config.scss';

.top5 {
    background: #ffffff;
    padding: 5rem 0;
    display: flex;
    justify-content: space-evenly;

    & > div {
        width: 25%;
        max-width: 360px;
        display: flex;
        align-items: center;
    }

    &__col1 {
        &__img {
            margin-right: 1rem;
        }

        &__line {
            border-top: .5rem solid $brandColorOrange;
            width: 20%;
            margin-left: 0;
            transition: all ease-out .3s;
        }

        h1 {
            font-size: 3em;
        }

        h3 {
            font-size: 2em;
        }
    }

    &__col2 {
        background: #fafafa;
        padding: 4rem 2rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.5em;
        transition: all ease-out .5s;

        span {
            font-weight: 600;
        }

        &:hover {
            background: #ffffff;
            box-shadow: 0 5px 12px rgb(0 0 0 / 0.2);
        }

        &__img {
            width: 70px;
        }
    }

    &__col3__img {
        width: 70px;
    }

    &:hover {
        cursor: pointer;
        .winner__col1__line {
            width: 100%;
        }
    }

    &__col3 {
        display: none;
        box-shadow: none;
    }
}

@media (max-width: $mobile) {
    .top5 {
        flex-direction: column;
        align-items: center;

        & > div {
            width: 80%;
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
        }

        &__col1 {
            flex-direction: column;

            &__text {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                text-align: center;

                h1 {
                    font-size: 2em;
                }

                h3 {
                    font-size: 1.5em;
                }
            }

            &__line {
                border-top: .5rem solid $brandColorOrange;
                width: 20%;
                margin: 1rem auto;
                transition: all ease-out .3s;
            }
        }

        &__col2, &__col3 {
            font-size: 1em;

            &__img {
                margin-bottom: 1rem;
            }
        }
    }
}
