@import '../../utils/config.scss';

.form-div {
    width: 80%;
    margin: 0 auto;
    padding: 5rem;
    background: #ffffff;
    border-radius: 5px;

    .register {
        // border: springgreen 2px solid;
        width: 80%;
        margin: 0 auto;
    }
}

.register * {
    box-sizing: border-box;
    line-height: 2rem;
}

.register input,
.register select,
.register label,
.register textarea {
    display: block;
}

.register input[type = 'checkbox'],
.register input[type = 'radio'] {
    display: inline;
}

.register input:not([type = 'radio']),
.register select,
.last-child {
    margin-bottom: 3rem;
}

.register input,
.register select {
    margin-top: 1rem;
}

.register input:not([type = 'submit']),
.register select {  
    border-radius: .5rem;
    padding: .2rem;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.register a {
    text-decoration: none;
    color: $brandColorBlue;
    transition: color ease-in .1s;

    &:hover {
        color: $brandColorRed;
    }
}

.register input[type = 'text']{
    text-transform: capitalize;
}

.register input[type = 'text'],
.register input[type = 'tel'],
.register input[type = 'email'],
.register input[type = 'submit'],
.register textarea,
.register select {
    padding: 1rem;
    width: 100%;
    max-width: 70vw;
    line-height: 3rem;
    font-weight: 100;
}

.register select {
    padding: 1.4rem ;
}

.register textarea {
    height: 20rem;
    border-radius: .4rem;
    margin: 1rem 0 3rem 0;
}

.register label {
    font-weight: 600;
    color: $textColor;
    font-size: large;
}

.radio-label {
    font-weight: 100;
}

.register span {
    font-weight: 100;
}

.register input[type = 'submit']{
    background: $brandColorBlue;
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
    border-radius: 5rem;
    transition: background, .3s ease-in;
    border: none;
    cursor: pointer;

    &:hover {
        background: darken($color: $brandColorBlue, $amount: 50%)
    }

    &:disabled {
        background: lighten($color: $brandColorBlue, $amount: 20%);
        cursor: not-allowed;
    }
}

.register p {
    display: inline;
    font-weight: 500;
}

.register .parent {
    margin-top: 3rem
}


.parent, .contestant {
    h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
}

.pic-label:only-child {
    margin-bottom: 50rem;
}

@media (max-width: $mobile) {
    .form-div {
        width: 100%;
        padding: 1rem;
        
        .container {
            width: 90%;
        }

        .terms {
            margin: 0;
            padding: 0;
            font-size: 1em;
            line-height: 10%;

            input[type='checkbox'] {
                margin: 0;
            }
        }

        .register input[type = 'text'],
        .register input[type = 'tel'],
        .register input[type = 'email'],
        .register input[type = 'submit'],
        .register textarea,
        .register select {
            max-width: 100vw;
        }
    }
}
