@import '../../utils/config.scss';

.brief {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__col1 {
        width: 50%;

        &__title {
            h1 {
                font-size: 2em;
            }

            h3 {
                font-size: 1em;
                margin-bottom: 1rem;
            }
        }

        &__text {
            ul {
                padding: 0;

                li {
                    list-style: none;
                }
            }
        }

        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            .bullet {
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 10px solid $brandColorOrange;
                border-bottom: 5px solid transparent;
                margin-right: 1rem;
            }
            
            p {
                margin: 0;
            }
        }
    }

    &__col2 {

        border-radius: 10rem 0 10rem 0;
        overflow: hidden;
    }
}

@media (max-width: $mobile) {
    .brief {
        flex-direction: column;
        padding: 4rem 2rem;
        
        &__col1 {
            width: 100%;
        }

        &__col2 {
            width: 100%;
            border-radius: 5rem 0 5rem 0;
            margin-top: 3rem;
        }
    }
}
