@import '../utils/config.scss';

.accordion-item {
  width: 100%;
  border: 3px solid red;
  // max-width: 600px;
  margin: 1rem auto;
}

.accordion-title {
  border-radius: 2rem;
  background: $offWhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  transition: background .2s ease-in;
}

.accordion-title:hover {
  background-color: $textColor;
  color: #ffffff;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: $offWhite;
}

@media screen and (max-width: 700px) {

  .accordion-item {
    width: 90%;
  }
}