@import '../utils/config.scss';

.countdown {
    background: $offWhite;
    padding: 4em 0;
    color: $textColor;

    &__text {
        width: 50%;
        margin: 2rem auto;
        text-align: center;
    }

    &__time {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        & > div {
            color: #ffffff;
            margin: 2rem;
            padding: 3rem;
            width: 20%;
            border-radius: 7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: 3em;
            }
        }

        &__days {
            background: $brandColorBlue;
        }

        &__hours {
            background: #f6ab32;
        }

        &__minutes {
            background: #079173;
        }

        &__seconds {
            background: $brandColorRed;
        }
    }
}

@media (max-width: $mobile) {
    .countdown {
        padding: 2em 0;

        &__text {
            width: 100%;

            p {
                font-size: 1em;
            }

            h1 {
                font-size: 2em;
            }
        }

        &__time {
            width: 100%;
            flex-wrap: wrap;

            & > div {
                width: 30%;
                height: 30%;
                margin: 1rem;

                h2 {
                    font-size: 2em;
                }

                h3 {
                    font-size: 1em;
                }
            }

        }
    }
}

