@import '../utils/config.scss';


.faq {
    padding: 5rem 0;
    background: #ffffff;

    &__container {
        width: 90%;
        margin: 0 auto;
        // border: 3px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__img {
            width: 40%;
            border-radius: 10rem 0 10rem 0;
            overflow: hidden;
        }

        &__text {
            width: 50%;
            // border: 3px solid red;
        }
    }

    h1 {
        margin-bottom: 3rem;
        text-align: center;
        color: $textColor;
    }
}

@media (max-width: 960px) {
    .faq {
        &__container {

            flex-direction: column;
            width: 100%;

            &__img {
                width: 90%;
                border-radius: 5rem 0 5rem 0;
                order: 1;

                img {
                    max-width: 450px;
                }
            }

            &__text {
                margin-bottom: 2rem;
                width: 100%;
            }
        }
    }
}