$largeText: 70px;
$mediumText: 40px;
$smallText: 20px;

$brandColorBlue: #2094d2;
$brandColorRed: #dc2048;
$brandColorOrange: #F0AA00;

$largeSpace: 10rem;
$mediumSpace: 5rem;
$smallSpace: 3rem;

$textColor: #404145;
$offWhite: #fafafa;
